## DataFrame Part 3

In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

### Multi-Index and Index Hierarchy

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
 hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [11]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1  1.008707  2.557191
   2 -1.889892 -2.411149
   3  1.491686  1.815833
G2 1  0.157797  0.301949
   2 -0.328768  0.828661
   3 -1.315738  0.973677

In [13]:
df.loc['G1']

          A         B
1  1.008707  2.557191
2 -1.889892 -2.411149
3  1.491686  1.815833

In [15]:
df.index.names = ['Groups','Num']

In [16]:
df

                   A         B
Groups Num
G1     1    1.008707  2.557191
       2   -1.889892 -2.411149
       3    1.491686  1.815833
G2     1    0.157797  0.301949
       2   -0.328768  0.828661
       3   -1.315738  0.973677

In [17]:
df.loc['G2'].loc[2]['B']

0.8286610225374753

### Select the value ( -2.311149)

In [18]:
df.loc['G1'].loc[2]['B']

-2.411149427420831

In [19]:
df

                   A         B
Groups Num
G1     1    1.008707  2.557191
       2   -1.889892 -2.411149
       3    1.491686  1.815833
G2     1    0.157797  0.301949
       2   -0.328768  0.828661
       3   -1.315738  0.973677

In [20]:
df.loc['G1']

            A         B
Num
1    1.008707  2.557191
2   -1.889892 -2.411149
3    1.491686  1.815833

In [22]:
df.xs('G1') # xs= crosssection

            A         B
Num
1    1.008707  2.557191
2   -1.889892 -2.411149
3    1.491686  1.815833

In [23]:
df.xs(1,level='Num')

               A         B
Groups
G1      1.008707  2.557191
G2      0.157797  0.301949

In [24]:
df

                   A         B
Groups Num
G1     1    1.008707  2.557191
       2   -1.889892 -2.411149
       3    1.491686  1.815833
G2     1    0.157797  0.301949
       2   -0.328768  0.828661
       3   -1.315738  0.973677