
Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [8]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
ser1 = pd.Series([1,2,3,4],['Usa','India','Japan','Ireland'])

In [13]:
ser1

Usa        1
India      2
Japan      3
Ireland    4
dtype: int64

In [16]:
ser2 = pd.Series([1,2,5,4],['Usa','German','Italy','Japan'])

In [17]:
ser2

Usa       1
German    2
Italy     5
Japan     4
dtype: int64

In [19]:
ser1['Usa'] = 2

In [20]:
ser1

Usa        2
India      2
Japan      3
Ireland    4
dtype: int64

In [21]:
ser3 = pd.Series(data=labels)

In [22]:
ser3[0]

'a'

In [23]:
ser1

Usa        2
India      2
Japan      3
Ireland    4
dtype: int64

In [24]:
ser2

Usa       1
German    2
Italy     5
Japan     4
dtype: int64

In [25]:
ser3

0    a
1    b
2    c
dtype: object

In [26]:
ser1 + ser2

German     NaN
India      NaN
Ireland    NaN
Italy      NaN
Japan      7.0
Usa        3.0
dtype: float64