In [1]:
name = 'Shivam'
age = 18

In [2]:
print('Our Boss name is {} & his age is {}'.format(name,age))

Our Boss name is Shivam & his age is 18

In [3]:
print('Our boss name is {name} & his age isss {age}')

Our boss name is {name} & his age isss {age}

In [4]:
s = 'HarryPotter'

In [5]:
s[3]

'r'

In [6]:
s[3:8]

'ryPot'

In [7]:
my_list  = {2,3,4,5,6,7,8}

In [8]:
my_list[2:5]

TypeError: 'set' object is not subscriptable

In [9]:
my_list

{2, 3, 4, 5, 6, 7, 8}

In [10]:
my_list.append(2)

AttributeError: 'set' object has no attribute 'append'

In [11]:
my_list.append('9')

AttributeError: 'set' object has no attribute 'append'

In [12]:
new_list = {'a','b','c'}

In [13]:
new_list

{'a', 'b', 'c'}

In [14]:
new_list.append('g')

AttributeError: 'set' object has no attribute 'append'

In [15]:
new_list = ['a','b','c','d']

In [16]:
new_list

['a', 'b', 'c', 'd']

In [17]:
new_list.append('e')

In [18]:
new_list

['a', 'b', 'c', 'd', 'e']

In [19]:
new_list[1:3
        ]

['b', 'c']

# Dictionary

In [20]:
d = {'key1':'value','key2':567}

In [21]:
d['key2']

567

In [22]:
d = {'k1':{'innerkey':[1,2,3]}}

In [2]:
d['k1']

NameError: name 'd' is not defined

In [4]:
dic = {'k22':val}

NameError: name 'val' is not defined

In [5]:
dic = {'k11':'val'}

In [24]:
d['innerkey']

KeyError: 'innerkey'

In [1]:
d['k1']['innerkey'][1]

NameError: name 'd' is not defined

In [26]:
## Booleans

# BOOLEANS

In [27]:
true

NameError: name 'true' is not defined

In [28]:
false

NameError: name 'false' is not defined

In [29]:
True

True

In [30]:
False

False

# Tuples & Set

In [6]:
 t  = (1,2,3,4,5)

In [7]:
t[2]

3

In [8]:
t[2] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [9]:
# Tuple: we can't change the value inside

In [10]:
## SET

### SET

In [11]:
# Collection of unique elements

In [12]:
{2,3,4,5,5,6,6,6,6,7,7,7,8,8,8,8,}

{2, 3, 4, 5, 6, 7, 8}

In [14]:
set([1,1,1,1,12,2,2,23,3,3,3,])

{1, 2, 3, 12, 23}

In [15]:
s = {1,2,3}

In [16]:
s.add(4)

In [17]:
s

{1, 2, 3, 4}

## Comparision operators

In [18]:
1 > 2

False

In [19]:
2 == 2

True

In [20]:
2 == 1

False

In [21]:
2 < 1

False

In [25]:
2 == 2

True

In [27]:
'shivam' == 'god'

False

In [28]:
'shivam' != 'god'

True

## Logic Operators

In [29]:
1 < 2 and 2>3

False

In [30]:
(2<3) or (1>2)

True

In [31]:
True or False

True

In [32]:
False and False

False

In [33]:
True and True

True

## if,elif, else Statements

In [35]:
if 1<2:
    print('yep!')

yep!

In [37]:
if 1==2:
    print("First")
else:
    print("Last")

Last

In [40]:
if 1==2:
    print("First")
elif 2==2:
    print("Second")
else:
    print("Last")

Second

# For loops

In [41]:
seq = [1,2,3,4,5,6,7,8,9]

In [44]:
for jelly in seq:
    print(jelly)

1
2
3
4
5
6
7
8
9

In [45]:
for hello in seq:
    print('Hello D3ar')

Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar
Hello D3ar

# While Loop

In [50]:
i = 0

while i<5:
    print("Val of i is : {}".format(i))
    i = i+1

Val of i is : 0
Val of i is : 1
Val of i is : 2
Val of i is : 3
Val of i is : 4

# Range

In [52]:
range(0,5)

range(0, 5)

In [53]:
range(10)

range(0, 10)

In [54]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [56]:
list(range(2,5))

[2, 3, 4]

# list comprehension

In [57]:
x = [1,2,3,4,5]

In [58]:
out = []

In [59]:
for n in x:
    out.append(n**2)

In [60]:
print(out)

[1, 4, 9, 16, 25]

In [61]:
[n**2 for n in x]

[1, 4, 9, 16, 25]

In [62]:
out = [n**2 for n in x]

In [64]:
out

[1, 4, 9, 16, 25]

## Functions

In [69]:
def my_func(param1):
    print("hello " +param1)

In [70]:
my_func('Shivam')

hello Shivam

In [75]:
def square(num):
    """
    This is a fuction which squares a number
    And this is documentation quotes
    """
    return num**2

In [72]:
output = square(3)

In [73]:
output

9

# Lambda Expressions

In [76]:
seq = [1,2,3,4,5]

In [77]:
lambda num: num*3

In [79]:
map(lambda num: num*3,seq)

In [82]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

## map and filter

In [83]:
seq = [1,2,3,4,5,6,7,8]

In [84]:
list(map(lambda num: num%2 == 0,seq))

[False, True, False, True, False, True, False, True]

In [85]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4, 6, 8]

## Methods

In [86]:
s = 'my name is shivam'

In [90]:
s.capitalize()

'My name is shivam'

In [91]:
s.upper()

'MY NAME IS SHIVAM'

In [92]:
s.split()

['my', 'name', 'is', 'shivam']

In [93]:
tweet = "Go Sports! #Sports"

In [94]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [95]:
s.split('is')

['my name ', ' shivam']

In [96]:
s.split('is')[1]

' shivam'

In [97]:
d = {'k1':1,'k2':2}

In [98]:
d

{'k1': 1, 'k2': 2}

In [100]:
d.keys()

dict_keys(['k1', 'k2'])

In [101]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [104]:
d.values()

dict_values([1, 2])

In [105]:
lst = [1,2,3]

In [106]:
lst.pop()

3

In [107]:
lst

[1, 2]

In [108]:
lst = [1,2,3,4,5,6]

In [110]:
item = lst.pop()

In [111]:
item

6

In [112]:
first = lst.pop(0)

In [113]:
first

1

In [114]:
lst

[2, 3, 4, 5]

In [115]:
lst.append('heo')

In [116]:
lst

[2, 3, 4, 5, 'heo']

In [117]:
'x' in [1,2,3,4,5,6,'z','3']

False

In [118]:
'x' in [1,2,3,'x']

True

In [119]:
x = [(1,2),(3,4),(5,6)]

In [121]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [140]:
def dog_count(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [141]:
dog_count('Hello i love dog and dog are pretty good animal')

2

In [142]:
    seq = ['soup','dog','salad','cat','great']

In [143]:
list(filter(lambda word: word[0] == 's',seq))

['soup', 'salad']

In [147]:
def caught(speed,is_birthday):
    if is_birthday:
        speed = speed - 5
    else:
        speed = speed
    if speed > 80:
        return 'big ticket'
    elif speed > 60:
        return 'small ticket'
    else:
        return 'no ticket'

In [148]:
caught(81,True)

'small ticket'

In [149]:
caught(81,False)

'big ticket'